body
{
    margin: 0;
    padding: 0;
    background: url("/blue.jpg");
    background-size:cover ;
    font-family: sans-serif;
}
.item1 table imputstart {
    background-color: rgba(8,162,209,.9);
}
h2
{
    margin: 0;
    padding: 20px 0px 20px;
    background-color: rgba(118,209,8,.3);
    color: #efe40e;
    text-align: center;
}
table th,td{
    padding: 15px;
    text-align: center;
    color: aquamarine;
}
table th {
    background-color: rgba(8,162,209,.3);
    color: azure;
}
table tr:nth-child(even) {background-color:rgba(0,0,0,.2);

}
.item2 form input:hover
{
    background: #ff9933;
    color: #262626;
}
.item2 form input
{
    border: none;
    outline: none;
    height: 25px;
    color:#fff;
    font-size: 16px;
    background: #ff2676;
    cursor: pointer;
    border-radius: 20px;
}

.item2 p
{

    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
.item1 form input
{
    border: none;
    outline: none;
    height: 25px;
    color:#fff;
    font-size: 16px;
    background: #ff2676;
    cursor: pointer;
    border-radius: 20px;
}
.item1 p
{

    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
.grid-container {
    display: grid;
    grid-template-columns:  auto auto;
    grid-gap: 1px;

    padding: 0px;
}
.grid-container > div {
    background-color: rgba(0, 0, 0, .4);
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
}